{% extends "base.html" %}
{% load static %}

{% block title %}
    Foto gallerij - Eijgenraam.net
{% endblock %}

{% block css_files %}
    <link rel='stylesheet' href="{% static 'gallery/index.css' %}">
    <link rel='stylesheet' href="{% static 'gallery/gallery.css' %}">
    <link href="{% static 'lightbox.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <section id="gallery">    
        <ul class="picture-gallery"> 
            {% for picture in pictures %} 
                <li class="picture"> 
                    <a href="{{ picture.image.url }}" data-lightbox="{{ picture.image.url }}" data-title="{{ picture.name }}">
                        <img src="{{ picture.image.url }}" alt="{{ picture.name }}">
                    </a>
                </li>
            {% empty %}
                No images found.
            {% endfor %}
        </ul>
    </section>

    <section id='about'>
        <a href='/admin'>Admin login</a>
    </section>

    <script src="{% static 'lightbox-plus-jquery.js' %}"></script>
{% endblock %}