{% extends "base.html" %}

{% load static %}
{% load commenttags %}

{% block title %}
    Contact - Eijgenraam.net
{% endblock %}

{% block css_files %}
    <link rel='stylesheet' href="{% static 'guestbook/index.css' %}">
    <script>
        function displayForm(comment_id) {
            var text = document.getElementById("responseBtn" + comment_id);
            text.style.display = "none";
            var text = document.getElementById("responseForm" + comment_id);
            text.style.display = "block";
          }
    </script>
{% endblock %}

{% block content %}
    <section id='welcome'>
        <header>
            {% for admin in all_admins %}
                <div>
                    <div>{{ admin.username }}</div>
                    <div>{{ admin.email }}</div>       
                </div>
        {% endfor %}
                        
        </header>
    </section>

    <section id='comment-form'>
        <div>
            <h3>Laat iets achter in ons gastenboek:</h3>
            <p>Het gastenboek is bedoeld om een bericht achter te laten voor de beheerders van de site. Dit kan een tip zijn, maar je mag ze natuurlijk ook gewoon de groetjes willen doen.</p>
            <p>Door middel van de Reageer-knop, heb je de mogelijkheid te reageren op anderen.
        </div>
        <button onClick='displayForm("")' id="responseBtn">Reageer</button>
            <div id="responseForm" style="display: none;">
                {% include 'guestbook/includes/comment-form.html' %}
            </div>
        
    </section>
    
    {% for comment in all_comments %}
        <section id='comment-form'>
            <div class='comment'>
                <div>{{ comment.username }}, {{ comment.date }}</div>
                <div>{{ comment.text }}</div>
                    <button onClick='displayForm({{ comment.id }})' id="responseBtn{{ comment.id }}">Reageer</button>
                        <div id="responseForm{{ comment.id }}" style="display: none;">
                            {% include 'guestbook/includes/comment-form.html' %}
                        </div>
            </div>
        </section>
        {% if comment|has_response:all_responses %}
            <section id='response'>
                {% for response in all_responses|in_comment:comment %}
                    <div>
                        <div>{{ response.username }}, {{ response.date }}</div>
                        <div>{{ response.text }}</div>
                    </div>
                {% endfor %}
            </section>
        {% endif %}
    {% endfor %}

{% endblock %}