{% extends "base.html" %}
{% load static %}

{% block title %}
    Artikelen - Eijgenraam.net
{% endblock %}

{% block css_files %}
    <link rel='stylesheet' href="{% static 'articles/post.css' %}">
    <link rel='stylesheet' href="{% static 'articles/index.css' %}">
{% endblock %}

{% block content %}
    <section id='welcome'>
        <header>
            <img src="{% static 'articles/images/wapen_eijgenraam_pentekening.jpg' %}" alt='Wapen van de familie Eijgenraam' />
            <h2>Genealogie van het geslacht Eijgenraam</h2>
        </header>
        <p>{% lorem 1 b random %}</p>
    </section>

    <section id='latest-posts'>
        <h2>De laatste artikelen</h2>
        <ul>
            {% include 'articles/includes/post.html' %}
        </ul>
    </section>

    <section id='about'>
        <h2>Over de familie</h2>
        <p>Wat tekst met wellicht wat links naar andere pagina's</p>
        <p>Meer tekst</p>
    </section>
{% endblock %}