{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ post.title }} - Eijgenraam.net
{% endblock %}

{% block css_files %}
    <link rel='stylesheet' href="{% static 'articles/post-page.css' %}">
{% endblock %}

{% block content %}
    <section id='summary'>
        <h2>{{ post.title }}</h2>
        <article>
            <img src="{% static 'articles/images/de_mallemolen.jpg' %}" alt="{{ post.title }}" />
            <address>{{ post.author }}</address>
            <div>Last updated on <time>{{ post.date|date:'d M Y' }}</time></div>
        </article>
        <main>
            <p>{{ post.content|linebreaks }}</p>
        </main>
        <main>
            <div>
                <p>Geef een reactie:</p>
                <form action='/' method='POST'>
                    {% csrf_token %}
                        {{ form }}
                    <button type='submit'>Verzend reactie</button>
                </form>
            </div>
            <div>
                <p>Reacties:</p>
                <p>All comments on post</p>
            </div>
        </main>
    </section>
{% endblock %}